{% extends 'new/base.html' %}
{% load static %}

{% block content %}
    <div class="d-flex justify-content-center py-5">
        <img src="{% static 'banner4.png' %}" class="img-fluid" alt="Banner">
    </div>          

    <main class="container">
        <div class="row px-5">
            <h6>BROWSE AND READ THE LATEST STUFF</h6>
            <h4>Latest Stories</h4>
            
            {% for post in posts %}
                <div class="col-md-4 mb-4 pt-3">
                    <article class="post p-3 shadow">
                        <h4>{{ post.title }}</h4>
                        <div class="py-3">
                            <time class="date">
                            {{ post.published_date }}
                            </time>
                        </div>
                        <p class="text-danger text-decoration-none">____________</p>
                        <p>{{ post.text|linebreaksbr }}</p>
                        <h6><a href="{% url 'post_detail' pk=post.pk %}" class="text-danger text-decoration-none">READ MORE</a></h6>
                    </article>
                </div>
            {% endfor %}
        </div>
    </main>   
{% endblock %}  