{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
        <div class="container d-flex justify-content-center py-3">
            <a href="https://chrstndiane.pythonanywhere.com/blog/new/"><img src="{% static 'logo.png' %}" class="img-fluid" alt="Banner" width="150"></a>
            <!-- http://127.0.0.1:8000/blog/new/   \  https://chrstndiane.pythonanywhere.com/blog/new/-->
        </div>
{% endblock %}